.flex_container {
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}

header {
  display: flex;
  background-color: lightblue;
  height: 50px;
  width: 100vw;
  align-items: center;
  justify-content: center;
}

main {
  display: flex;
  width: 100vw;
}

.main_part {
  display: flexbox;
  background-color: lightcoral;
  width: 100vw;
  flex-grow: unset;
}

.more {
  display: inline-block;
  background-color: orange;
  align-content: space-around;
  width: 45%;
}

.more3 {
  display: inline-block;
  background-color: orange;
  width: 90%;
}

.aside {
  display: flexbox;
  background-color: lightgreen;
  width: 20%;
}

.footer {
  display: flex;
  background-color: lightblue;
  width: 100vw;
  height: 50px;
  justify-content: space-around;
  align-items: center;
}

.section_footer {
  display: inline;
  background-color: white;
}
